p-toolbar {
  max-width: 1440px;
}

.toolbar-container {
  display: flex;
  width: 100%;
  justify-content: left;
}

.p-toolbar-group-center {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 420px;
}

.p-toolbar-group-end {
  margin-left: auto;
}

h1, h2 {
  margin: 0;
}

.edit-button {
  margin-left: 15px;
  margin-right: auto;
}
