p-toolbar {
  max-width: 1440px;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .p-toolbar-group-start {
  margin-right: auto;
} */

.p-toolbar-group-center {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .p-toolbar-group-end {
  margin-left: 350px;
} */

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 60px;
  background: linear-gradient(to right, #fdff72, #F6C23E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

h2 {
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.edit-button {
  margin-left: 15px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.class-menu {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  background-color: #B5F2EB;
  border-radius: 5px;
  box-shadow: -3px 8px 5px -3px rgba(0,0,0,0.42);
}
