<div class="container">
  <div class="student-list">
    <p-card class="button-card" *ngIf="selectedClass != 'Default'">
      <div class="button-container">
        <p-button styleClass="p-button-info p-button-raised" (click)="addStudent()">Add Student</p-button>
        <p-button styleClass="p-button-info p-button-raised" (click)="toggleEdit()" *ngIf="!isEditing">Edit</p-button>
        <p-button styleClass="p-button-info p-button-raised" (click)="toggleEdit()" *ngIf="isEditing">Apply</p-button>
      </div>
    </p-card>
    <div class="select-a-class" *ngIf="selectedClass === 'Default'">
      <h1>Select a Class</h1>
      <h2>or Edit Classes to Add Your First Class</h2>
    </div>
    <div *ngFor="let student of displayedStudents; let i = index" class="student-item">
      <app-student
        [studentName]="student.name"
        [turtles]="student.turtles"
        (increase)="increaseTurtles(student)"
        (decrease)="decreaseTurtles(student)"
        [isEditing]="isEditing"
        [index]="i"
      ></app-student>
    </div>
  </div>
  <div class="paginator-container" *ngIf="selectedClass != 'Default'">
    <p-paginator [rows]="pageSize" [totalRecords]="students.length" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>
</div>

