.student-list {
  display: flex;
  height: 100%;
  margin-top: auto;
  /* max-height: 400px; */
}

.container {
  padding-top: auto;
}

.button-card {
  display: flex;
  justify-content: center;
  margin-top: auto;
  height: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
}

p-button {
  margin: 5px;
  padding: auto;
}

.select-a-class {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  justify-content: center;
}

h1, h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.paginator-container {
  margin-top: auto;
}
