.app-container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  /* background-color: #5CD2E6; */
}

app-header {
  margin-top: 0px;
}

app-studentlist {
  height: fit-content;
  margin-top: auto;
  /* margin-bottom: 0px; */
  /* background-color: #5CD2E6; */
  padding-top: auto;
}


