.card {
  display: flex;
  position: relative;
  height: 100%;
  align-items: end;
}

.turtle-buttons {
  display: flex;
  justify-content: center;
}

.turtle-icons {
  display: flex;
  justify-content: center;
}

p-button {
  margin: auto;
  padding: 0;
}

input {
  max-width: 75px;
}

.student {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 0;
}
