<p-card class="card">
  <div class="turtle-icons">
    <ng-container *ngFor="let icon of turtleIcons; let i = index">
      <img src="assets/turtleFinal.png" alt="Turtle" class="turtle-icon" />
    </ng-container>
    <img src="assets/placeholderBlock.png" alt="Turtle" class="turtle-icon" *ngIf="turtleIcons.length < 1"/>
  </div>
  <div class="student">
    <h4 *ngIf="!isEditing">{{ studentName }}</h4>
    <input *ngIf="isEditing" [(ngModel)]="studentName" (ngModelChange)="updateStudentNameInService($event)" />
    <div class="turtle-buttons" *ngIf="!isEditing">
      <p-button styleClass="p-button-rounded p-button-sm p-button-danger" (click)="decreaseTurtles()">-</p-button>
      <p-button styleClass="p-button-rounded p-button-sm" (click)="increaseTurtles()">+</p-button>
    </div>
    <div class="delete-button" *ngIf="isEditing">
      <p-button styleClass="p-button-rounded p-button-sm p-button-danger" (click)="deleteStudent()">Delete</p-button>
    </div>
  </div>
</p-card>
