<div class="class-menu">
    <div class="list-item" *ngFor="let classOption of classOptions">
      <h4 *ngIf="!isEditingNames">{{ classOption.label }}</h4>
      <input *ngIf="isEditingNames" [(ngModel)]="className" (ngModelChange)="updateClassNameInService(classOption, $event)" />
      <p-button class="edit-button" styleClass="p-button-info p-button-sm" (click)="editClass(classOption)" *ngIf="!isEditingNames">Rename</p-button>
      <p-button class="edit-button" styleClass="p-button-info p-button-sm" (click)="editClass(classOption)" *ngIf="isEditingNames">Apply</p-button>
      <p-button styleClass="p-button-danger p-button-sm"(click)="deleteClass(classOption)">Delete</p-button>
    </div>
  <div class="add-button">
    <p-button styleClass="p-button-success p-button-sm" (click)="addClass()">Add Class</p-button>
  </div>
  <div class="add-class-input" *ngIf="isAddingClass">
    <input [(ngModel)]="newClass"/>
  </div>
  <div class="submit-button" *ngIf="isAddingClass">
    <p-button styleClass="p-button-info p-button-sm" (click)="submitClass()">Submit</p-button>
  </div>
</div>
